.page.theme_dark {
  --accent-color: #FF0070;
  --accent-color-2: #FF0070;
  --text-color: #F1B2CE;
  --text-color-2: #000028;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png) no-repeat center / cover;
  --rec-shadow: 0px 0px 4px 2px var(--accent-color);
  --rec-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --accent-color-2: #FF0070;
    --text-color: #F1B2CE;
    --text-color-2: #000028;
    --title-color: #DB00FF;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png) no-repeat center / cover;
    --rec-shadow: 0px 0px 4px 2px var(--accent-color);
    --rec-color: var(--accent-color);
  }

  .header-rec::after {
    box-shadow: var(--rec-shadow);
    background-color: var(--rec-color);
  }

  .header-rec {
    color: var(--rec-color);
  }
}