.page.theme_light {
  --accent-color: #FF8DCB;
  --accent-color-2: #353430;
  --text-color: #353430;
  --text-color-2: #000028;
  --title-color: #FFC2E6;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
  --rec-shadow: none;
  --rec-color: transparent;
  --button-hover-color: #32312D66;
}

.theme_light .header-rec::after {
  display: none;
}

.theme_light .header-rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --accent-color-2: #353430;
    --text-color: #353430;
    --text-color-2: #000028;
    --title-color: #FFC2E6;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
    --rec-shadow: none;
    --rec-color: transparent;
    --button-hover-color: #32312D66;
  }

  .header-rec::after {
    box-shadow: var(--rec-shadow);
    background-color: var(--rec-color);
  }

  .header-rec {
    color: var(--rec-color);
  }
}
