.page {
  font-family: var(--fonts);
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-image: var(--bg-image);
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .page {
    --padding: 20px;
    --block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  .page {
    --block-size: 768px;
  }
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: var(--block-size);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color-2);
  border-block-start: 1px solid var(--accent-color-2);
  inset-block-start: var(--padding);
  inset-inline-end: var(--padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color-2);
  border-block-end: 1px solid var(--accent-color-2);
  inset-block-end: var(--padding);
  inset-inline-start: var(--padding);
}

.header-rec {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: calc(28px + var(--padding));
  inset-block-start: var(--padding);
}

.header-rec::after {
  content: '';
  position: absolute;
  margin-inline-start: 10px;
  margin-block-start: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-inline-end: var(--padding);
  padding-block-start: calc(var(--padding) + 65px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 9px;
  align-self: end;
}

@media (min-width: 768px) {
  .header__theme-menu {
    padding-block-start: calc(var(--padding) + 172px);
  }
}


@media (min-width: 1024px) {
  .header__theme-menu {
    flex-direction: row;
    justify-content: center;
    padding-inline: var(--padding);
    padding-block-start: var(--padding);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: start;
    line-height: 22px;
  }
}

.header__theme-menu-item {
  color: var(--accent-color-2);
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-2);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color-2);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-2);
  pointer-events: none;
}

.title {
  padding-inline: var(--padding);
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  align-self: center;
  margin-inline: var(--padding);
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .title {
    padding-inline: initial;
    padding-block: 13px 8px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }

  .header__description {
    justify-self: end;
    margin-block-end: 30px;
    inline-size: 364px;
  }
  
}

@media (min-width: 1024px) {
  .title {
    padding-block-end: 10px;
    font-size: 157px;
    line-height: 130px;
  }

  .header__description {
    justify-self: end;
    inline-size: 491px;
  }
}

.title-decor {
  color: var(--text-color-2);
  font-weight: bold;
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: var(--padding);
  padding-block: 40px;
}

@media (min-width: 768px) {
  .main {
    gap: 80px;
    padding-block-start: 60px;
    padding-block-end: 40px;
  }
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .row-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  }

  .row-section .main__section-title {
    inline-size: 30%;
  }
}

@media (min-width: 1024px) {
  .main__section:first-of-type {
    gap: 12px;
  }

  .main__section:nth-child(3) {
    gap: 12px;
  }

  .row-section .main__section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.main__section-title {
  color: var(--accent-color-2);
  font-weight: bold;
  font-size: var(--font-size);
}

.main__section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-item-title {
  font-size: var(--font-size);
}

.main__section-item-description-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__section-item-description-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.main__section-item-subtitle {
  color: var(--text-color-2);
  background-color: var(--accent-color);
}

.main__section-list .main__section-item:first-child .main__section-item-subtitle {
  margin-block-start: 10px;
}

.main__section_gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.main__section_gallery-title {
  font-size: var(--font-size);
}

.main__section_gallery-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.main__section_gallery-item {
  inline-size: 100%;
  block-size: 100%;
} 

.main__section_gallery-item img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

@media (min-width: 768px) {
  .main__section_gallery {
    gap: 20px;
  }

  .main__section_gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24% 29% 39%;
    grid-auto-flow: dense;
    gap: 20px;
  }

  .main__section_gallery-item--first {
    grid-column: span 2;
    grid-row: span 1;
  }

  .main__section_gallery-item--second {
    grid-column: span 1;
    grid-row: span 2;
  }

  .main__section_gallery-item--third {
    grid-column: span 1;
    grid-row: span 3;
    block-size: 97%;
  }

  .main__section_gallery-item--fourth {
    grid-column: span 1;
    grid-row: span 1;
  }
  .main__section_gallery-item--fifth {
    grid-column: span 2;
    grid-row: span 2;
    block-size: 95%;
  }
}

@media (min-width: 1024px) {
  .main__section_gallery-list {
    gap: 25px;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: var(--block-size);
}
